a {
    text-decoration: none;
}
.links{
    color: cornflowerblue; font-size: 16px; 
    line-height: 20px;
}
.caption-one{
    color: #222222; 
    font-size: 28px; 
    line-height: 36px; 
    font-weight: bold;
}